<!DOCTYPE html>
<html lang="en">
	<head>
	 <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Welcome</title>
   <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/base.css" rel="stylesheet">
	</head>
<body>
<div class="container">
	<div class="im-centered">
	<div class="row">
		<div class="col-md-8 col-md-offset-3 jumbotron">
			<div class"text-center">
			<h1 class="col-md-12 col-md-offset-1 jumbotron">Say hi to Adiel!</h1>
			</div>
			<form method="POST" action="/entry/new">
			<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></span>
  		<input type="text" class="form-control" placeholder="enter text here" aria-describedby="basic-addon1">
								{% csrf_token %}
			</div>
			</form>
		</div>
	</div>
	</div>
</div>

</html>

