{% extends 'welcome/base.html' %}

{% block title %} Adiel S. Granados {% endblock %}

{% block home %}

<div class="wide center-block border_shadow">
	
	<div class="row">
		<div class="col-xs-4 line"><hr></div>
		<div class="col-xs-4 logo"><h1>Adiel S. Granados</h1></div>
		<div class="col-xs-4 line"><hr></div>
	</div>	

	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 logo"><h2>Self-taught programmer and web-developer</h2></div>
		<div class="col-xs-4"></div>
	</div>

</div>

{% endblock %}
