{% extends 'welcome/base.html' %}

{% block title %} Adiel S. Granados {% endblock %}

{% block center_image %}
<div class="wrapper">
<div class="row">
	<div class="pagination-centered col-md-12 border-shadow">
		<img src="static/img/20150410_194853.jpg" class="center-block img-responsive border_shadow" id="center_image">
	</div>
</div>
</div>
{% endblock %}

{% block title_text %}
<div class="wrapper">
	<div class="row">
			<h1 class="col-md-5"></h1>
			<h1>Adiel S. Granados</h1>
			<h1 class="col-md-5"></h1>
			<h2><small>Self-taught programmer and web-developer</small></h2>
	</div>
</div>
{% endblock %}
