{% extends 'welcome/base.html' %}

{% block title %} Adiel S. Granados {% endblock %}

{% block home %}

<div class=" home center-block border_shadow">
	
	<div class="row">
		<div class="col-xs-4 line"><hr class="border_shadow"></div>
		<div class="col-xs-4 name"><h1><strong><hr>Adiel S. Granados<hr></strong></h1></div>
		<div class="col-xs-4 line"><hr class="border_shadow"></div>
	</div>	

	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 bio"><h2><strong><span class="console">></span></strong> <span class="glow">Self-taught programmer and web-developer_</span></h2></div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-5"></div>
		<div class="col-xs-2"><hr></div>
		<div class="col-xs-5"></div>
	</div>
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 bio">
			<a href="https://twitter.com/GranadosAdiel">
			<span class="twittericon"></span>
			</a>
			<a href="mailto:contact.adielg@gmail.com">
			<span class="emailicon"></span>
			</a>
			<a href="https://github.com/adiel19">
			<span class="giticon"></span>
			</a>
		</div>
		<div class="col-xs-4"></div>
	</div>
{% endblock %}
