body{
	background-color: #EFFFDA;
	padding-top: 100px;
}

.col-center{
	float: none;
	margin: 0 auto;
	padding-top: 6%;
}
.navbar-default .navbar-nav>li>a{
	color: #005b96;
}

.navbar-default .navbar-brand {
  color: #6497b1;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {max-height:28px !important;}

.wrapper{
	padding-left: 15px;
	padding-right: 15px;
}

.border_shadow{
  border: 2px #e4e4e4 solid;
  padding: 0px;
  border-radius: 4px;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
}
h1{
	font-family: 'Pacifico', cursive;
	font-size: 60px;
	color:  #daf1ff;
}
h2{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	color: #f0f9ff;
}

.wide {
  width:90%;
  height: 100%;
  background-image:url('img/20150410_194853.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
}
.logo {
  font-weight:800;
  padding:25px;
  text-align:center;
}
